@use '../custom' as *;
@use '../component/mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.extraPage {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 6rem;
  color: $white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .meni {
    font-size: 1.2rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.7rem;
    }

    li {
      padding: 0 0.8rem;
    }

    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  /*.bokra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
  }*/

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 5;
  }

  .overlay {
    @include sunset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
  }

  .undertest {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;

    h2 {
      font-size: 5rem;
      font-weight: 800;
      line-height: 1rem;
      padding: 5rem auto;
      @include media-breakpoint-down(sm) {
        font-size: 3rem;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1rem;
      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1rem;
      margin: 1rem 0;
      font-weight: 400;
      max-width: 40rem;
      @include media-breakpoint-down(sm) {
        font-size: 0.7rem;
      }
    }

    a {
      color: $black;
      letter-spacing: 0.1rem;

      &:hover {
        letter-spacing: 0.3rem;
      }
    }
  }
}
